.container {
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 2rem;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #2d2c2c;
  padding: 20px;
  width: 60vw;
  border-bottom: 5px solid rgb(121, 22, 22);
  border-radius: 1rem;
  transition: all 0.1s ease-out;
}

.cardName {
  font-weight: 700;
  font-size: large;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.cardNumber {
  color: rgb(136, 29, 29);
  font-size: xx-large;
}

.card:hover {
  padding: 30px;
  .cardNumber {
    color: rgb(237, 8, 8);
  }
}

.cardDesc {
  margin: 20px;
}

.cardLink {
  display: grid;
  justify-content: center;
  align-items: center;
}

.cardButton {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #454545;
  border: none;
  border-radius: 3.5px;
  transition: all 0.2s;
}

.cardButton:hover {
  transform: scale(1.05);
  background-color: rgb(42, 27, 27);
}

@media only screen and (max-width: 1350px) {
  .card {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
