.nav {
  display: flex;
  justify-content: space-between;
  background-color: #018786;
  padding: 10px 30px;
  height: 8vh;
  align-items: center;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 5px 5px #005959;
}

.logo {
  transition: all 0.3s ease-out;
}
.logo:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
}
